fastapi==0.115.0
uvicorn[standard]==0.30.6
SQLAlchemy==2.0.34
psycopg[binary]==3.2.2
alembic==1.13.2
pydantic==2.8.2
python-dotenv==1.0.1
PyYAML==6.0.2
python-jose==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.1.2